

<link rel='stylesheet' href='/stylesheets/style.css' />
<nav class="navbar">
    <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/allData">All Movies</a></li>
        <li><a href="/search-id">Search by ID</a></li>
        <li><a href="/search-title">Search by Title</a></li>
         <li><a href="/movies/pg13">PG-13 Movies</a></li>
    </ul>
</nav>





       


