<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
</head>
<body>
    <header>
        <h2>ITE5315 Assignment 2</h2>
        <p>Name: Alex Batac | Student ID: N01579147</p> 
        {{> navbar }}
    </header>
    
    <div class="content">
        {{{body}}} <!-- Dynamic content will be injected here -->
    </div>
    <footer>
        <p>alexbatacjr@gmail.com</p> 
</body>
</html>
