<!DOCTYPE html>
<html>
<head>  
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h3>Welcome to the Movie Management App!</h3>
    <div class="container" onclick="location.href='/data'" style="cursor: pointer;">
        View Movie Data
    </div>
    <div class="container" onclick="location.href='/search-id'" style="cursor: pointer;">
        Search Movie by ID
    </div>
    <div class="container" onclick="location.href='/search-title'" style="cursor: pointer;">
        Search Movie by Title
    </div>

    
</body>
</html>
